{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>&emsp;&emsp;&emsp;&ensp; Gemüse und mehr </title>
	<link rel="stylesheet" type="text/css" href="{% static 'src/css/gemuse.css' %}">
</head>
<body>
	
    <fieldset>
		<div id="vege-div">
			<center><h1> Frisches Lebensmittel Produkt </h1></center>
			<ul>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="{% static 'src/media/imgs/legumeetplus/banana.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a class="a1" href="#">Plantin <br></a>
			   	  <label>&#127462;&#127479;</label><br>
			   	  <label>100g x 10 <br><b>€ {{ban}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a class="a1" href="#"><img class="img2" src="{% static 'src/media/imgs/legumeetplus/igname.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Yamswurzel<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{ignam}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="{% static 'src/media/imgs/legumeetplus/piments.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Pfeffer<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{piment}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="{% static 'src/media/imgs/legumeetplus/gombo.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Okra<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{okra}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="{% static 'src/media/imgs/legumeetplus/banana.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Plantin <br></a>
			   	  <label>&#127462;&#127479;</label><br>
			   	  <label>100g x 10 <br><b>€ {{ban}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="{% static 'src/media/imgs/legumeetplus/igname.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Yamswurzel<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{ignam}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="{% static 'src/media/imgs/legumeetplus/piments.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Pfeffer<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{piment}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="{% static 'src/media/imgs/legumeetplus/gombo.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Okra<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{okra}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>


			   <li class="legume">
			   	  <a href="#"><img class="img1" src="{% static 'src/media/imgs/legumeetplus/banana.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Plantin <br></a>
			   	  <label>&#127462;&#127479;</label><br>
			   	  <label>100g x 10 <br><b>€ {{ban}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="{% static 'src/media/imgs/legumeetplus/igname.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Yamswurzel<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{ignam}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="{% static 'src/media/imgs/legumeetplus/piments.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Pfeffer<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{piment}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="{% static 'src/media/imgs/legumeetplus/gombo.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Okra<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{okra}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img1" src="{% static 'src/media/imgs/legumeetplus/banana.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Plantin <br></a>
			   	  <label>&#127462;&#127479;</label><br>
			   	  <label>100g x 10 <br><b>€ {{ban}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="{% static 'src/media/imgs/legumeetplus/igname.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Yamswurzel<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{ignam}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="{% static 'src/media/imgs/legumeetplus/piments.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Pfeffer<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{piment}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="{% static 'src/media/imgs/legumeetplus/gombo.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Okra<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{okra}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img1" src="{% static 'src/media/imgs/legumeetplus/banana.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Plantin <br></a>
			   	  <label>&#127462;&#127479;</label><br>
			   	  <label>100g x 10 <br><b>€ {{ban}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img2" src="{% static 'src/media/imgs/legumeetplus/igname.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Yamswurzel<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{ignam}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img3" src="{% static 'src/media/imgs/legumeetplus/piments.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Pfeffer<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{piment}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img4" src="{% static 'src/media/imgs/legumeetplus/gombo.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Frische Okra<br></a><br>
			   	  <label>100g x 10 <br><b>€ {{okra}}</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>

			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			   <li class="legume">
			   	  <a href="#"><img class="img5" src="{% static 'src/media/imgs/legumeetplus/taro.png' %}" height="300px" width="300px"></a>
			   	  <br>
			   	  <a href="#">Taro-Knolle<br></a><br>
			   	  <label>100g x 10 <br><b>€19.98</b></label>
			   </li>
			</ul>
		</div>
    </fieldset>
    

		<!-- ##########################################################################################  -->

	
        <div id="versand-cont">
        	<center><h1> Versandkonditionen </h1></center>
        	<div id="vers">
        		<ul class="ul0">
        			<li>Gewicht und Maße</li>
        		</ul>
        		<ul class="ul1">
        			<li>Preise *</li>
        		</ul>
        	</div>
        	<br><br>
        	<hr>
        	<div id="v-preis">
        		<ul class="u0">
        			<li>
        				Päckchen S 2 kg<br>
        				bis 35 x 25 x 10 cm
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				3,99 EURO
        			</li>
        		</ul>

        		<br><br><br>	

        		<ul class="u0">
        			<li>
        				Päckchen M 2 kg<br>
        				bis 60 x 30 x 15 cm
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				4,99 EURO
        			</li>
        		</ul>

        		<br><br><br>	

        		<ul class="u0">
        			<li>
        				DHL Paket 2 kg<br>
        				bis 60 x 30 x 15 cm
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				5,99 EURO
        			</li>
        		</ul>


        		<br><br><br>	

        		<ul class="u0">
        			<li>
        				DHL Paket 5 kg<br>
        				bis 120 x 60 x 60 cm*
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				6,99 EURO
        			</li>
        		</ul>

        		<br><br><br>	

        		<ul class="u0">
        			<li>
        				DHL Paket 10 kg<br>
        				bis 120 x 60 x 60 cm*
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				10,99 EURO
        			</li>
        		</ul>

        		<br><br><br>	

        		<ul class="u0">
        			<li>
        				DHL Paket 31,5 kg<br>
        				bis 120 x 60 x 60 cm*
        			</li>
        		</ul>			

        		<ul class="u1">
        			<li>
        				19,99 EURO
        			</li>
        		</ul>
        	</div>
        </div>
		<br>
        <br><br><br>
	<center id="center-info">
		<label class="powered"> © 2023, <a href="#">RockSyShop - Offiziell</a> Powered by <a href="#"><b>MSFreeLancer</b></a></label><br>
	    </div>
	</center>
</body>
</html>